div{
    height: 200px;
    width: 200px;
    background-color: pink;
    border: 2px black solid;
    position: absolute;
   
    animation: colorAnimate 2s ease-in 1s 5 normal;


   
   
}

@keyframes colorAnimate{
    from {
        background-color: pink;
        left: 5px;
    }
    to {
        background-color: red;
        left: 300px;
        color: white;
        font-size: 40px;
        
    }
}

div:hover{
   
}
